<!DOCTYPE html>
<h1> this is a page for submitting feedback </h1>
<form action="http://127.0.0.1:5000/feedback" method="post">
    <label> Type here for your evaluation of the course</label>
    <br>
    <input type="text" name="message_evaluation">
    <br>
    <label> Type here for your advice about possible course improvement</label>
    <br>
    <input type="text" name="message_improvement">
    <br>
    <label> What do you like about the labs?</label>
    <br>
    <input type="text" name="lab_advice">
    <br>
    <input type="submit" value="Submit">
</form>