<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial scale=1">
    <title>
        CSCB20 Assignments
    </title>
    <link rel="stylesheet" type="text/css" href="../static/Assignments.css">
</head>

<body>
    <h2>Assignments</h2>

    <div class="assignment-grid">
        <div class="assignment-header"></div>
        <div class="assignment-header">Exercise</div>
        <div class="assignment-header">Topic (tentative)</div>
        <div class="assignment-header">Weight</div>
        <div class="assignment-header">Due Date</div>
        <div class="assignment-header">Solution</div>

        <div class="assignment-data">1</div>
        <div class="assignment-data"><a href="assignments/a1/">Handout</a></div>
        <div class="assignment-data">Relational Algebra and MySQL</div>
        <div class="assignment-data">15%</div>
        <div class="assignment-data">Part 1. Wednesday Feb. 1, 11.59pm, Submit to <a
                href="https://markus.utsc.utoronto.ca/cscb20w17/?locale=en">MarkUs</a><br />
            <font color='red'>UPDATED</font> Part 2 and 3. For 5% bonus Saturday Feb. 11, 11.59pm or Friday Feb. 17,
            11.59
            Submit to <a href="https://markus.utsc.utoronto.ca/cscb20w17/?locale=en">MarkUs</a> You can download a
            dumpfile
            for IMDB_SMALL
            <a href="assignments/IMDB_SMALL.sql">here</a>.<br> To use it type
            <code>mysql -u utorid -p < IMDB_SMALL.sql</code>
        </div>
        <div class="assignment-data"><a href="assignments/a1/soln.pdf">Solution Part 1</a></div>

        <div class="assignment-data">2</div>
        <div class="assignment-data"><a
                href="http://mathlab.utsc.utoronto.ca/courses/cscb20w17/bretsche/assignments/a2/a2.html">Handout</a> <a
                href="http://www.utsc.utoronto.ca/bretscher/b20/assignments/a2/a2.zip">a2.zip</a></div>
        <div class="assignment-data">HTML, CSS, PHP</div>
        <div class="assignment-data">15%</div>
        <div class="assignment-data">Part 1: Worth 50% Friday March. 10, 11.59pm, Submit to <a
                href="https://markus.utsc.utoronto.ca/cscb20w17/?locale=en">MarkUs</a><br>
            Part 2: Worth 50% Friday March. 19, 11.59pm, Submit to <a
                href="https://markus.utsc.utoronto.ca/cscb20w17/?locale=en">MarkUs</a></div>
        <div class="assignment-data"></div>

        <div class="assignment-data">3</div>
        <div class="assignment-data">
            <font color='red'>New</font> <a
                href="http://www.utsc.utoronto.ca/bretscher/b20/assignments/a3/a3_marking_scheme.txt">Marking Scheme for
                A3
            </a> <br><a href="http://www.utsc.utoronto.ca/bretscher/b20/assignments/a3/a3.html">Handout</a>
        </div>
        <div class="assignment-data">Web Application and Database</div>
        <div class="assignment-data">15%</div>
        <div class="assignment-data">Friday March 31, 11.59pm</div>
        <div class="assignment-data"></div>
    </div>
</body>

</html>
