<!DOCTYPE html>
<html lang="en">
<head>
  <title>CSCB20 Course Website</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/components/home.css">
  <link rel="stylesheet" href="../static/components/buttons.css">
  <link rel="stylesheet" href="../static/components/fonts/lato.css">
  <link rel="stylesheet" href="../static/components/fonts/Montserrat.css">
  <link rel="stylesheet" href="../static/components/fonts/morefont.css">
  <link rel="stylesheet" href="../static/sections/main.css">
</head>
  <body>

<!--navbar-->
<div class="top">
  <div class="bar blue-grey card left-align large">
    <a class="bar-item button hide-medium hide-large right padding-large hover-white large blue-grey" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="bar-item button padding-large white">Home</a>
    <a href="#" class="bar-item button padding-large hover-white">Feedback</a>
    <a href="login.html" class="bar-item button padding-large hover-white">Login</a>
    <a href="register.html" class="bar-item button padding-large hover-white">Register</a>
  </div>
  <!--navbar small screen-->
  <div id="navDemo" class="bar-block white hide hide-large hide-medium large">
    <a href="#" class="bar-item button padding-large">Home</a>
    <a href="#" class="bar-item button padding-large">Feedback</a>
    <a href="login.html" class="bar-item button padding-large">Login</a>
    <a href="register.html" class="bar-item button padding-large ">Register</a>
  </div>
</div>
<!--navbar ends-->

<!--header-->
<header class="container blue-grey center" style="padding:128px 16px">
<h1 class="margin jumbo">CSCB20</h1>
<p class="xlarge">Introduction to Database and Web Development</p>
<a href="login" class="bar-item button padding-large hover-white">Login</a>
<a href="register" class="bar-item button padding-large hover-white">Register</a>
{% if session['student_id'] %}
    <a href="grade">click here to logout</a>
    <a href="submit_assignment">click here to submit an assignment</a>
{% elif session['teacher_id'] %}
    <a href="regrade_request_view">click here to register</a>
    <a href="grade">click here to grade the assignments</a>
    <a href="feedback_view">click here to view feedback</a>
{% endif %}
</header>

<body>
<h1> This is the home page or coursework for CSCB20</h1>
<p class="xlarge">Click the login or Register button above to proceed and view the content!</p>

</body>
</html>