<!DOCTYPE html>
<html lang="en">
<head>
  <title>CSCB20 Course Website</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/components/home.css">
  <link rel="stylesheet" href="../static/components/buttons.css">
  <link rel="stylesheet" href="../static/components/fonts/lato.css">
  <link rel="stylesheet" href="../static/components/fonts/Montserrat.css">
  <link rel="stylesheet" href="../static/components/fonts/morefont.css">
  <link rel="stylesheet" href="../static/sections/main.css">
</head>
  <body>



<!--header-->
<header class="xlarge container-top" style="padding:35px">
  <span>Introduction to Web Development and database</span>
</header>
<header class="container blue-grey center" style="padding:200px 16px">
<h1 class="margin jumbo">CSCB20</h1>
<p class="xlarge">Introduction to Database and Web Development</p>
<a href="login" class="dark-blue bar-item button padding-large hover-white xlarge">Login</a>
<a href="register" class="dark-blue bar-item button padding-large hover-white xlarge">Register</a>
{% if session['student_id'] %}
    <a href="logout">click here to logout</a>
    <a href="submit_assignment">click here to submit an assignment</a>
{% elif session['teacher_id'] %}
    <a href="regrade_request_view">click here to register</a>
    <a href="grade">click here to grade the assignments</a>
    <a href="feedback_view">click here to view feedback</a>
{% endif %}
</header>

<body>
    <!--Content-->
    <div class="main">
      <!--Header-->
      <div class="container" id="showcase">
          <h1 class="xxlarge"><b>CSCB20</b></h1>
          <h1 class="xlarge"><b>Course Website</b>
          </h1>
          <hr class="round">
          <p class="xlarge"> This is the course website for CSCB20, a course on web development and SQL at the University of
              Toronto Scarborough Campus,</p>
          <p class="xlarge">Please click on the Login or Register button to continue. </p>
      </div>
  </div>

 
  <div class="container" id="course_desc">
      <h1 class="xxlarge center"><b>Course Description</b></h1>
      <hr class="round">
      <p class="xlarge">A practical introduction to databases and Web app development. Databases: terminology and applications;
          creating, querying and updating databases; the entity-relationship model for database design. Web
          documents
          and applications: static and interactive documents; Web servers and dynamic server-generated content;
          Web
          application development and interface with databases.
      </p>
      <p class="xlarge"><strong>Prerequisite</strong> Some experience with programming in an imperative language such as Python,
          Java
          or C.
      </p>
      <p class="xlarge"><strong>Exclusion</strong> This course may not be taken after - or concurrently with - any C- or D-level
          CSC
          course.
      </p>

      <p class="xlarge"><strong>Syllabus</strong> <a href="http://www.utsc.utoronto.ca/bretscher/b20/syllabus.pdf">PDF</a></p>
  </div>
  <!-- Instructors -->
  <div class="container xlarge" id="instructor">
      <h1 class="big-1"><b>Instructor</b></h1>
      <hr class="round">
      <h2 class="big-2">Dr. Purva Gawde</h2>
      <p><b>E-mail:</b> purva.gawde@utoronto.ca</p>
      <p><b>Phone:</b> 647.601.4658</p>
      <p><b>Office:</b> IC 484</p>
      <p><b>Lectures:</b> Mondays 9:00 - 11.00 AM in SW 319</p>
  </div>


</body>
<footer>
  <a href="https://web.cs.toronto.edu">Faculty of Computer Science at UofT</a>
  <p>Site design by Qishen Chen, Luna Bertha</p>
</footer>

</html>